* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
}

.cflex {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {

    .flex {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #events #text {
        margin: 1em;
        width: 70vmin;
    }

    #iframe {
        width: fit-content;
    }

    #iframe iframe:nth-child(1) {
        display: none;
    }

    #iframe iframe:nth-child(2) {
        display: none;
    }

    #iframe iframe:nth-child(3) {
        display: block;
    }

    #cinfo {
        justify-content: center;
        width: max-content;
        align-content: center;
        text-align: center;
    }

    #openTimes {
        margin: 1em 0;
    }

    #socials {
        margin: 1em auto;
        text-align: left;
        width: fit-content;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .flex {
        display: flex;
        flex-direction: row;
    }

    #iframe iframe:nth-child(1) {
        display: none;
    }

    #iframe iframe:nth-child(2) {
        display: none;
    }

    #iframe iframe:nth-child(3) {
        display: block;
    }

    #contact iframe {
        width: 80%;
    }

    #cinfo {
        width: 80%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-content: space-around;
    }

    #cinfo img {
        width: 30%;
        height: 30%;
        max-width: 200px;
    }

    #openTimes {
        display: inline; 
        white-space: nowrap; 
    }

    .socsp {
        display: inline; 
        white-space: nowrap; 
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {

    #iframe iframe:nth-child(1) {
        display: none;
    }

    #iframe iframe:nth-child(2) {
        display: block;
    }

    #iframe iframe:nth-child(3) {
        display: none;
    }

    #events #text {
        width: 55vmin;
    }
    
    .flex {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
        
    #contact {
        display: flex;
        justify-content: space-evenly;
    }
        
    #cinfo {
        display: flex;
        white-space: nowrap;
        flex-wrap: inherit;
    }
        
    #menuu {
        display: flex;
        justify-content: space-evenly;
    }

    #contact iframe {
        width: 80%;
    }

    #cinfo {
        width: 80%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 590px) and (max-width: 767px) {
    #iframe iframe:nth-child(1) {
        display: block;
    }

    #iframe iframe:nth-child(2) {
        display: none;
    }

    #iframe iframe:nth-child(3) {
        display: none;
    }
}

@media only screen and (min-width: 1440px) {
    #iframe iframe:nth-child(1) {
        display: block;
    }

    #iframe iframe:nth-child(2) {
        display: none;
    }

    #iframe iframe:nth-child(3) {
        display: none;
    }

    #events #text {
        width: 60vmin;
    }
    
    .flex {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
        
    #contact {
        display: flex;
        justify-content: space-evenly;
    }
        
    #cinfo {
        display: flex;
        white-space: nowrap;
        flex-wrap: inherit;
    }
        
    #menuu {
        display: flex;
        justify-content: space-evenly;
    }
    
}